@font-face
{
    font-family: "Playwrite England SemiJoined";
    src: url('fonts/playwright-england-semijoined.woff2') format('woff2'),
         url('fonts/playwright-england-semijoined.woff') format('woff'),
         url('fonts/playwright-england-semijoined.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.logo {
    color: blue;
    font-family: "Playwrite England SemiJoined", cursive;
}